<template>
    <div id="error">
        <Header></Header>
        <div class="container" id="container-error">
            <div class="d-flex justify-content-center">
                <h1 class="cover-heading">ERROR 404</h1>
            </div>
            <div class="d-flex justify-content-center">
                <RouterLink to="/" class="btn btn-lg btn-secondary">INICIO</RouterLink>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from "@/layout/components/Header.vue";
    import Footer from "@/layout/components/Footer.vue";

    export default {
        name: "Error_404",
        components: {Footer, Header}
    }
</script>

<style lang="scss" scoped>
    div#container-error {
        height: 55%;
    }

    #error {
        height: 100%;
    }
</style>
