html, body {
    height: 100%;
    width: 100%;
}

.logo {
    width: 7rem !important;
}

footer#footer a.link_footer {
    &:hover {
        text-decoration: underline;
    }
}

// @keyframes imagebox {
//     0%{
//         background-image: url("../img/banner-1.jpg");
//     }
//     16.66%{
//         background-image: url("../img/banner-1.jpg");
//     }
//     33.33% {
//         background-image: url("../img/banner-bitloft.jpg");
//     }
//     50% {
//         background-image: url("../img/banner-estancia-osques.jpg");
//     }
//     66.65% {
//         background-image: url("../img/banner-ibaria.jpg");
//     }
//     83.33% {
//         background-image: url("../img/banner-wit.jpg");
//     }
//     100% {
//         background-image: url("../img/chapu-06-min.jpg");
//     }
// }

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

nav ol .col-12 {
    text-align: left!important;

    a{
        font-size: 18px!important;
    }
    li{
        a{
            font-size: 18px!important;
        }
    }
}


.breadcrumb.language a{
    font-size: 18px;
}

.min-vh-development {
    min-height: 27vh;
}

.page-item.active .page-link {
    color: #790022;
    background-color: transparent;
    border-color: transparent;
}


.page-link {
    color: #929292;
    background-color: transparent;
    border: none;
}

.page-item.disabled .page-link {
    color: #929292;
    background-color: transparent;
}


.development {
    min-height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: content-box;

    .link {
        height: 100%;
        width: 100%;
        display: inline-block;
    }

    .badge {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 1rem;
        font-weight: normal;
        border-color: #790022;
        background-image: linear-gradient(#9C0A10, #790022);
        color: white;
        width: 100%;
    }

    .description {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        color: white;
        background: rgba(14, 10, 35, .7)
    }
}

.bg-dark-opacity{
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
}
.navbar-nav li{
    padding: .5rem 20px;
    color: black!important;
}
.navbar-nav li a,
.navbat-nav li button,
.languaje-nav a{
    color: white;
    font-size: 18px;
}
.dropdown-menu{
    .text-center{
        text-align: left!important;
    }
    a,
    button {
        color: black!important;
        font-size: 18px!important;
    }
}

// .spacing-image {
//     padding-top: 15%;
//     animation: imagebox 30s infinite ease-in-out;
//     -moz-animation: imagebox 30s infinite ease-in-out;
//     padding-bottom: 15%;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: top center;
// }

.featured-name {
    top: 0;
    background-color: rgba(14, 10, 35, .7);
    color: #fff;
}

.badge-price {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20000;
    font-size: 1rem;
    font-weight: normal;
    border-top-right-radius: 15px;
    border-color: #790022;
    background-image: linear-gradient(#9C0A10, #790022);
    color: white;
}


footer#footer {
    padding: 30% 0 30% 0;
    background-color: black;
    color: #fff;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}

.container-carousel {
    height: 19rem !important;
}

#div-side-nav {
    height: 100%;
}

.div-container-img-carousel {
    height: 14rem;
    width: 100% !important;
    background-color: #000;

    @media (max-width: 767.98px) {
        height: 21rem;
    }

    img {
        display: block;
        width: 100% !important;
        height: 100% !important
    }
}

.div-container-img-featured {
    height: 14rem;
    width: 100% !important;
    background-color: #000;

    img {
        display: block;
        width: 100% !important;
        height: 100% !important
    }
}

.div-container-img-development {
    height: 14rem;
    width: 100% !important;
    background-color: #000;

    @media (max-width: 767.98px) {
        height: 21rem;
    }

    img {
        display: block;
        width: 100% !important;
        height: 100% !important
    }
}

.rounded-search-first {
    border-radius: 0.5rem 0 0 0.5rem;
}

.rounded-search-button {
    border-radius: 0 0.5rem 0.5rem 0;
}

.rounded-search-middle {
    border-radius: 0;
}

.rounded-only-left {
    border-radius: 0.5rem 0 0 0.5rem;
}

.rounded-only-right {
    border-radius: 0 0.5rem 0.5rem 0;
}

.bg-dark {
    background-color: #0E0A23 !important;
}

.bg-header {
    background-image: url("../img/breadcrumb.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text-red {
    color: #9E0B0F;
}

.btn-red-gradient {
    border-color: #790022;
    background-image: linear-gradient(#9C0A10, #790022);
    color: #fff;
    font-weight: bold;

    &:hover {
        color: #fff;
        background-image: linear-gradient(#790022, #9C0A10);
    }
}


.btn-red {
    border-color: #790022;
    background-color: #790022;
    color: #fff;

    &:hover {
        color: #fff;
        background-color: #9C0A10;
    }
}

.font-front-bottom {
    font-size: 0.6rem !important;
}

div.resume-aboutus {
    width: 383rem;
    overflow: auto;
    height: 30rem;
}

div.image-aboutus {
    background-image: url("../img/image-about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.bottom-image-aboutus {
    background-image: url("../img/header-aboutus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 19rem;
    background-position: center center;
}

div.header-aboutus {
    height: 16rem;
    background-image: url("../img/bottom-image-about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

div.bg-header-aboutus {
    height: 16rem;
    background-image: url("../img/header-aboutus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h3.subtitle {
    color: #9E0B0F;
}

button.link-spanglish {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.slider-selection {
    background-image: linear-gradient(#FFA0A4, #FFA0A4);
}

.slider-handle {
    background-image: linear-gradient(#FFF, #FFF);
    background-color: #707070;
    border: 1px solid #707070;
}

.bg-white-contact {
    background-color: #f3f3f3;
}

div.button-collapse {
    cursor: pointer;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

div.button-collapse-contact[aria-expanded="true"] {
    background-color: #0E0A23 !important;
    color: white !important;
    cursor: pointer;
}

div.button-collapse-contact[aria-expanded="false"] {
    cursor: pointer;
    color: #0c0c0c;
}


div.button-collapse-contact[aria-expanded="true"] {
    .arrow::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
    }
}

div.button-collapse-contact[aria-expanded="false"] {
    .arrow::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
    }
}

div.button-collapse[aria-expanded="true"] {
    .arrow::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
    }
}

div.button-collapse[aria-expanded="false"] {
    .arrow::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f054";
    }
}

a.flotante {
    z-index: 100000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
}

textarea[name=comment] {
    resize: none;
}

.border-red {
    border-bottom: 2px solid #7B0121 !important
}

.navbar-dark .navbar-toggler {
    color: white;
    border: 0px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: white;
}

.breadcrumb.language {
    background-color: transparent;

    a {
        color: white;
    }
}

img.size-image-list {
    width: 8rem;
}

.icon-list {
    width: 1.3rem !important;
    svg {
        width: 1.3rem !important;
    }
}

img.icon-carousel {
    width: 20px !important;
    height: 20px !important;
}

.owl-theme .owl-nav {
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
    right: 0 !important;

    [class*="owl-"] {
        background: rgba(14, 10, 35, 0.7) !important;
        color: #FFF !important;

        &:hover {
            background: rgba(52, 37, 128, 0.7) !important;
        }
    }

    div {
        border-radius: 50px !important;
        position: absolute;
        top: 0;
        bottom: 0;
        display: inline-block;
        zoom: 1;
        width: 50px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        color: #FFF;
        background: #0e0a23;
    }

    .owl-prev {
        left: .5em;
    }

    .owl-next {
        right: .5em;
    }
}

.carouselWrapper .owl-theme .owl-nav {
    top: 40% !important;
}

div.image-property {
    height: 30rem;

    img {
        width: 100%;
        height: inherit
    }
}

div.image-featured {
    height: 30rem;
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#list-properties {
    height: calc(100% - 15rem) !important;
}

.show {
    opacity: 1;
    transition: opacity 1000ms;
}

.hide {
    opacity: 0;
    transition: opacity 1000ms;
}

.bg-development {
    min-height: 15rem;
    background-image: url("../img/sebastian.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    .center-title {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.banner-development {
    height: 32rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .rounded-search-first {
        border-radius: .25rem;
    }

    .rounded-search-button {
        border-radius: .25rem;
    }

    .rounded-search-middle {
        border-radius: .25rem;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .badge-price {
        left: 0;
    }
    div.image-property {
        height: 18rem;
    }

    div.image-featured {
        height: 18rem;
    }
}


.matterport-showcase iframe{
    min-height: 240px;
    margin: 16px 0;
    width: 100%; }

  @media screen and (min-width: 768px) {
  .matterport-showcase iframe {
    min-height: 360px; }}

  @media screen and (min-width: 992px) {
  .matterport-showcase iframe {
    height: 600px;
    max-width: 1068px;
    margin: 0 auto 15px; }}

  .matterport-showcase {
    text-align: center;
  }


