body,
html {
    height: 100%;
    width: 100%;
}
.logo {
    width: 7rem !important;
}
footer#footer a.link_footer:hover {
    text-decoration: underline;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
nav ol .col-12 {
    text-align: left !important;
}
nav ol .col-12 a,
nav ol .col-12 li a {
    font-size: 18px !important;
}
.breadcrumb.language a {
    font-size: 18px;
}
.min-vh-development {
    min-height: 27vh;
}
.page-item.active .page-link {
    color: #790022;
    background-color: transparent;
    border-color: transparent;
}
.page-link {
    border: none;
}
.page-item.disabled .page-link,
.page-link {
    color: #929292;
    background-color: transparent;
}
.development {
    min-height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-clip: content-box;
}
.development .link {
    height: 100%;
    width: 100%;
    display: inline-block;
}
.development .badge {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    font-weight: 400;
    border-color: #790022;
    background-image: linear-gradient(#9c0a10, #790022);
    color: #fff;
    width: 100%;
}
.development .description {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    color: #fff;
    background: rgba(14, 10, 35, 0.7);
}
.bg-dark-opacity {
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
}
.navbar-nav li {
    padding: 0.5rem 20px;
    color: #000 !important;
}
.languaje-nav a,
.navbar-nav li a,
.navbat-nav li button {
    color: #fff;
    font-size: 18px;
}
.dropdown-menu .text-center {
    text-align: left !important;
}
.dropdown-menu a,
.dropdown-menu button {
    color: #000 !important;
    font-size: 18px !important;
}
.featured-name {
    top: 0;
    background-color: rgba(14, 10, 35, 0.7);
    color: #fff;
}
.badge-price {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20000;
    font-size: 1rem;
    font-weight: 400;
    border-top-right-radius: 15px;
    border-color: #790022;
    background-image: linear-gradient(#9c0a10, #790022);
    color: #fff;
}
footer#footer {
    padding: 30% 0;
    background-color: #000;
    color: #fff;
}
footer#footer a {
    color: #fff;
}
footer#footer a:hover {
    text-decoration: none;
}
.container-carousel {
    height: 19rem !important;
}
#div-side-nav {
    height: 100%;
}
.div-container-img-carousel {
    height: 14rem;
    width: 100% !important;
    background-color: #000;
}
@media (max-width: 767.98px) {
    .div-container-img-carousel {
        height: 21rem;
    }
}
.div-container-img-carousel img {
    display: block;
    width: 100% !important;
    height: 100% !important;
}
.div-container-img-featured {
    height: 14rem;
    width: 100% !important;
    background-color: #000;
}
.div-container-img-featured img {
    display: block;
    width: 100% !important;
    height: 100% !important;
}
.div-container-img-development {
    height: 14rem;
    width: 100% !important;
    background-color: #000;
}
@media (max-width: 767.98px) {
    .div-container-img-development {
        height: 21rem;
    }
}
.div-container-img-development img {
    display: block;
    width: 100% !important;
    height: 100% !important;
}
.rounded-search-first {
    border-radius: 0.5rem 0 0 0.5rem;
}
.rounded-search-button {
    border-radius: 0 0.5rem 0.5rem 0;
}
.rounded-search-middle {
    border-radius: 0;
}
.rounded-only-left {
    border-radius: 0.5rem 0 0 0.5rem;
}
.rounded-only-right {
    border-radius: 0 0.5rem 0.5rem 0;
}
.bg-dark {
    background-color: #0e0a23 !important;
}
.bg-header {
    background-image: url(/images/breadcrumb.png?cdda212015bc4caa0790dd57c177e953);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.text-red {
    color: #9e0b0f;
}
.btn-red-gradient {
    border-color: #790022;
    background-image: linear-gradient(#9c0a10, #790022);
    color: #fff;
    font-weight: 700;
}
.btn-red-gradient:hover {
    color: #fff;
    background-image: linear-gradient(#790022, #9c0a10);
}
.btn-red {
    border-color: #790022;
    background-color: #790022;
    color: #fff;
}
.btn-red:hover {
    color: #fff;
    background-color: #9c0a10;
}
.font-front-bottom {
    font-size: 0.6rem !important;
}
div.resume-aboutus {
    width: 383rem;
    overflow: auto;
    height: 30rem;
}
div.image-aboutus {
    background-image: url(/images/image-about.jpg?6f3e0b9c800220f1f4fbf2b44d5999a8);
}
div.bottom-image-aboutus,
div.image-aboutus {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
div.bottom-image-aboutus {
    background-image: url(/images/header-aboutus.jpg?a5d0eaabd8e59035220cf8b27f18f2c6);
    height: 19rem;
}
div.header-aboutus {
    background-image: url(/images/bottom-image-about.jpg?b4d22116c0c9f26342d841e428caf518);
}
div.bg-header-aboutus,
div.header-aboutus {
    height: 16rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
div.bg-header-aboutus {
    background-image: url(/images/header-aboutus.jpg?a5d0eaabd8e59035220cf8b27f18f2c6);
}
h3.subtitle {
    color: #9e0b0f;
}
button.link-spanglish {
    color: #fff;
    text-decoration: none;
}
button.link-spanglish:hover {
    color: #fff;
    text-decoration: underline;
}
.slider-selection {
    background-image: linear-gradient(#ffa0a4, #ffa0a4);
}
.slider-handle {
    background-image: linear-gradient(#fff, #fff);
    background-color: #707070;
    border: 1px solid #707070;
}
.bg-white-contact {
    background-color: #f3f3f3;
}
div.button-collapse {
    cursor: pointer;
}
.icon:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
div.button-collapse-contact[aria-expanded="true"] {
    background-color: #0e0a23 !important;
    color: #fff !important;
    cursor: pointer;
}
div.button-collapse-contact[aria-expanded="false"] {
    cursor: pointer;
    color: #0c0c0c;
}
div.button-collapse-contact[aria-expanded="true"] .arrow:before {
    font-family: Font Awesome\5 Free;
    font-weight: 900;
    content: "\F078";
}
div.button-collapse-contact[aria-expanded="false"] .arrow:before {
    font-family: Font Awesome\5 Free;
    font-weight: 900;
    content: "\F054";
}
div.button-collapse[aria-expanded="true"] .arrow:before {
    font-family: Font Awesome\5 Free;
    font-weight: 900;
    content: "\F078";
}
div.button-collapse[aria-expanded="false"] .arrow:before {
    font-family: Font Awesome\5 Free;
    font-weight: 900;
    content: "\F054";
}
a.flotante {
    z-index: 100000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
}
textarea[name="comment"] {
    resize: none;
}
.border-red {
    border-bottom: 2px solid #7b0121 !important;
}
.navbar-dark .navbar-toggler {
    color: #fff;
    border: 0;
}
.breadcrumb-item + .breadcrumb-item:before {
    color: #fff;
}
.breadcrumb.language {
    background-color: transparent;
}
.breadcrumb.language a {
    color: #fff;
}
img.size-image-list {
    width: 8rem;
}
.icon-list svg {
    width: 1.3rem !important;
}
img.icon-carousel {
    width: 20px !important;
    height: 20px !important;
}
.owl-theme .owl-nav {
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
    right: 0 !important;
}
.owl-theme .owl-nav [class*="owl-"] {
    background: rgba(14, 10, 35, 0.7) !important;
    color: #fff !important;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: rgba(52, 37, 128, 0.7) !important;
}
.owl-theme .owl-nav div {
    border-radius: 50px !important;
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
    zoom: 1;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: #0e0a23;
}
.owl-theme .owl-nav .owl-prev {
    left: 0.5em;
}
.owl-theme .owl-nav .owl-next {
    right: 0.5em;
}
.carouselWrapper .owl-theme .owl-nav {
    top: 40% !important;
}
div.image-property {
    height: 30rem;
}
div.image-property img {
    width: 100%;
    height: inherit;
}
div.image-featured {
    height: 30rem;
    cursor: pointer;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
#list-properties {
    height: calc(100% - 15rem) !important;
}
.show {
    opacity: 1;
}
.hide,
.show {
    transition: opacity 1s;
}
.hide {
    opacity: 0;
}
.bg-development {
    min-height: 15rem;
    background-image: url(/images/sebastian.png?51bc2d9bb94f9ed2e08a1adf839c203a);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.bg-development .center-title {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner-development {
    height: 32rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 767.98px) {
    .rounded-search-button,
    .rounded-search-first,
    .rounded-search-middle {
        border-radius: 0.25rem;
    }
}
@media (max-width: 991.98px) {
    .badge-price {
        left: 0;
    }
    div.image-featured,
    div.image-property {
        height: 18rem;
    }
}
.matterport-showcase iframe {
    min-height: 240px;
    margin: 16px 0;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .matterport-showcase iframe {
        min-height: 360px;
    }
}
@media screen and (min-width: 992px) {
    .matterport-showcase iframe {
        height: 600px;
        max-width: 1068px;
        margin: 0 auto 15px;
    }
}
.matterport-showcase {
    text-align: center;
}
