<template>
    <div id="AboutUs">
        <Header></Header>
        <div class="container-fluid header-aboutus"></div>
        <div class="container-fluid"></div>
        <section class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitle">Viterra</h3>
                </div>
                <div class="col-12 col-md-5 resume-aboutus">
                    <p class="text-justify">
                        Somos una empresa que pertenece a una familia inmobiliaria con más de 60 años en el mercado,
                        enfocada principalmente al mercado residencial alto. <br><br>
                        Contamos con una cartera actual de cientos de propiedades en exclusiva en venta y renta. <br>
                        <br>
                        Nuestra estructura cuenta con un Corporativo en Guadalajara y oficinas en Puerto Vallarta,
                        Cancún, Rivera Maya y Querétaro. También operamos con asesores en Jalisco, Cd. De México y área
                        conurbada, Aguascalientes y Monterrey. <br> <br>
                        Pertenecemos a la Asociación Mexicana de Profesionales Inmobiliarios AMPI y a Cámara de
                        Comercio.
                    </p>
                    <h4 class="subtitle text-red">Nuestros servicios</h4>
                    <p class="text-justify">
                        Tenemos más de 100 asesores capacitados y encargados de promover tu propiedad. Nos anunciamos en
                            las principales páginas web de paga, revistas, periódicos, así como otros medios publicitarios.
                        <br> <br>
                        En Viterra realizamos una opinión de valor y análisis de mercado previo, elaboramos para cada
                        inmueble un plan de promoción que incluye medios y acciones de prospección. Informamos a cada
                        cliente del estado de la promoción de su inmueble vía internet día con día.
                    </p>
                </div>
                <div class=" col-12 col-md-7 image-aboutus">
                </div>
                <div class="col-12 bg-info bottom-image-aboutus my-5"></div>
            </div>
        </section>
        <Footer></Footer>
    </div>
</template>

<script>
    import Footer from '@/layout/components/Footer.vue';
    import Header from '@/layout/components/Header.vue';

    export default {
        name: "AboutUs",
        metaInfo() {
            return {
                title: 'NOSOTROS',
                meta: [
                    {property: 'og:title', content: 'VITERRA | NOSOTROS'},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {   property: 'og:image',
                        itemprop: 'image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {name: 'twitter:card', content: 'summary'},
                    {name: 'twitter:site', content: window.location.href},
                    {name: 'twitter:title', content: 'VITERRA | NOSOTROS'},
                    {
                        name: 'twitter:image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {
                        name: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {name: 'twitter:creator', content: '@viterrainmob'},
                    {itemprop: 'name', content: 'VITERRA | NOSOTROS'},
                    {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            Footer,
            Header
        }
    }
</script>
