<template>
    <div id="Contact">
        <Header></Header>
        <div class="container-fluid bg-header" style="min-height: 263px;"></div>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="accordion" id="accordionCity">
                        <card-collapse v-for="(city, index) in cities" :city="city" :key="index"></card-collapse>
                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0">
                    <Map></Map>
                </div>
                <div class="col-md-12 mt-5">
                    <FormContact></FormContact>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Map from '@/components/MapContact.vue';
    import Footer from '@/layout/components/Footer.vue';
    import Header from '@/layout/components/Header.vue';
    import CardCollapse from '@/components/CardCollapseCity.vue';
    import FormContact from "@/components/FormContact.vue";

    export default {
        name: "Contact",
        metaInfo() {
            return {
                title: 'CONTACTO',
                meta: [
                    {property: 'og:title', content: 'VITERRA | CONTACTO'},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {   property: 'og:image',
                        itemprop: 'image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:card', content: 'summary'},
                    {property: 'twitter:site', content: window.location.href},
                    {property: 'twitter:title', content: 'VITERRA | CONTACTO'},
                    {
                        property: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {
                        property: 'twitter:image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:creator', content: '@viterrainmob'},
                    // {itemprop: 'name', content: 'VITERRA | CONTACTO'},
                    // {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            FormContact,
            CardCollapse,
            Footer,
            Header,
            Map
        },
        data() {
            return {
                cities: [
                    {
                        id: 1,
                        city: 'Guadalajara',
                        address: 'Av. Terranova #1455 Lomas de Providencia Guadalajara, Jalisco',
                        phone: '(33) 3629-7122'
                    },
                    {
                        id: 2,
                        city: 'Puerto Vallarta',
                        address: 'Aquiles Serdán 242 local 4, Col. Emiliano Zapata, C.P. 48380',
                        phone: '(322) 688 6806'
                    },
                    {
                        id: 3,
                        city: 'Querétaro',
                        address: 'Paseo Cuesta Bonita 315B, Fracc. Cuesta Bonita, Querétaro',
                        phone: '(442) 146 6997'
                    },
                    {
                        id: 4,
                        city: 'Caribe',
                        address: 'Edificio Corporativo Atrium, Av. Nichupte, SM 19, Mz 2, No. 20 Oficina 415, C.P. 77505',
                        phone: '(998) 234 1530'
                    },
                ]
            }
        },
    }
</script>
