<template>
    <div id="Development">
        <Header></Header>
        <section class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="carousel slide p-0" id="carouselDevelopmentControls" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item banner-development active"
                                 :style="development.bigImage ? `background-image: url('${development.bigImage}') !important;` : `background-image: url('https://place-hold.it/1900x600/000/fff&text=${development.slug}&bold&italic&fontsize=20) !important;'`">
                            </div>
                            <div v-if="youtube_video"
                                class="carousel-item banner-development d-flex align-items-center justify-content-center"
                                :style="`background-image: url('${development.image_video}') !important`"
                                data-toggle="modal" data-target="#videoModal"
                            >
                                <p class="text-center m-0 text-white"><i class="far fa-play-circle fa-4x"></i></p>
                            </div>
                            <div v-for="(image, index) in development.images" :key="index" class="carousel-item banner-development"
                                :style="`background-image: url('${image}') !important;`"></div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselDevelopmentControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselDevelopmentControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p class="text-center text-md-right">{{$t('development_notice')}}</p>
                </div>
                <div class="col-md-6 text-center d-flex">
                    <div class="col-12 my-auto">
                        <h1 class="text-red text-capitalize">{{development.name}}</h1>
                        <h4 class="text-uppercase text-red text-wrap">{{$t('from_money')}} {{development.price |
                            moneyFormat}} {{development.currency.name}}</h4>
                        <div class="col-12 text-wrap my-2" v-html="development.description"></div>

                        <!-- Social -->
                        <div class="col-12 d-flex justify-content-center mb-4">
                            <FacebookButton class="mx-1"></FacebookButton>
                            <whats-app :url="getUrl()" scale="2" :title="name" class="mx-1"></whats-app>
                            <PhoneButton class="mx-1" />
                            <InstagramButton />
                        </div>

                        <div class="col-12 d-flex justify-content-center" v-if="development.file">
                            <a class="btn btn-red btn-sm" :href="development.file" :download="development.slug">BROCHURE</a>
                        </div>
                        <div class="col-12 d-flex justify-content-center py-1" v-if="development.file_price">
                            <a class="btn btn-red btn-sm" :href="development.file_price" :download="`lista-precios-${development.slug}`">Lista de precios</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section v-if="development.advantages.length > 0" class="container my-5">
            <div class="row justify-content-center">
                <div class="col-12 d-flex justify-content-center mb-3">
                    <div class="col-md-8">
                        <h2 class="text-red text-center text-capitalize">{{$t('development_amenities')}}</h2>
                        <div class="row justify-content-center">
                            <div class="col-4 col-md-2" v-for="(advantage, index) in development.advantages">
                                <div class="col-12 d-flex shadow-sm my-2">
                                    <img :src="advantage.image" :alt="advantage.name" class="img-fluid">
                                </div>
                                <div class="col-12 text-center text-capitalize text-wrap">
                                    {{advantage.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-fluid px-0">
            <p class="m-0 p-3 text-center text-md-left">{{development.address}}</p>
            <MapProperty :markers="markers"></MapProperty>
        </section>
        <section class="container my-5">
            <FormContact></FormContact>
        </section>
        <Footer></Footer>
        <div v-if="youtube_video" class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="player"
                                    :src="youtube_video"
                                    allowfullscreen frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from "@/layout/components/Header.vue";
    import Footer from "@/layout/components/Footer.vue";
    import MapProperty from "@/components/MapProperty.vue";
    import FormContact from "@/components/FormContact.vue";
    import {WhatsApp} from 'vue-socialmedia-share';
    import FacebookButton from "@/components/FacebookMsgrButton.vue";
    import InstagramButton from "@/components/InstagramButton.vue";
    import PhoneButton from "@/components/PhoneButton.vue";

    export default {
        name: "Development",
        metaInfo() {
            return {
                title: `Desarrollo ${this.development.name.toUpperCase()}`,
                meta: [
                    {property: 'og:title', content: `VITERRA | ${this.development.name.toUpperCase()}`},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:image', 
                        content: `${this.development?.images?.[0] || 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'}`
                    },
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {property: 'twitter:card', content: 'summary'},
                    {property: 'twitter:site', content: window.location.href},
                    {property: 'twitter:title', content: `VITERRA | ${this.development.name.toUpperCase()}`},
                    {property: 'twitter:image', content: `${this.development?.images?.[0] || 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'}`},
                    {
                        property: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {property: 'twitter:creator', content: '@viterrainmob'},
                    // {itemprop: 'name', content: `VITERRA | ${this.development.name.toUpperCase()}`},
                    // {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            Header,
            Footer,
            FormContact,
            MapProperty,
            FacebookButton,
            WhatsApp,
            InstagramButton,
            PhoneButton
        },
        data() {
            return {
                development: {
                    name: '',
                    currency: '',
                    advantages: [],
                    gallery_media: [],
                },
                markers: [],
                youtube_video: ''
            }
        },
        methods: {
            async getDevelopment() {
                const URL_DEVELOPMENT = `/api/development`;
                this.$http.post(URL_DEVELOPMENT, {
                    slug: this.$route.params.slug
                }).then(response => {
                    this.development = response.data;
                    this.youtube_video = response.data.youtube_video ? `https://www.youtube.com/embed/${response.data.youtube_video}?version=3&loop=1&playlist=${response.data.youtube_video}&origin=${window.location.protocol}://${window.location.hostname}` : '';
                    let lat_lng = response.data.coordinates.split(',');
                    const MARKER = {
                        lat: parseFloat(lat_lng[0]),
                        lng: parseFloat(lat_lng[1])
                    };
                    this.markers.push({position: MARKER})
                }).catch(e => {
                    console.error(e);
                })
            },
            getUrl() {
                return document.location.href;
            }
        },
        filters: {
            moneyFormat(val) {
                if (!val) return '';
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        },
        created() {
            this.getDevelopment()
        }
    }
</script>

