<template>
    <div id="Developments">
        <Header></Header>
        <div class="jumbotron-fluid m-0 p-0 bg-development position-relative">
            <div class="container d-flex justify-content-center position-absolute center-title">
                <h1 class="my-auto text-white">{{$t('link_developments')}}</h1>
            </div>
        </div>
        <div class="container min-vh-development my-5">
            <div class="row justify-content-center h-100">
                <div class="col-md-4 col-lg-3 pb-3 development" v-for="(development, index) in developments"
                     :key="index"
                     :style="development.cover ? `background-image: url('${development.cover}')` : `background-image: url('https://place-hold.it/380x320/000/fff&text=${development.name.replace(/ /g,'_')}&bold&italic&fontsize=20')`">
                    <router-link class="m-0 p-0 link position-relative" :to="{name: 'development', params: {slug: development.slug}}">
                        <div class="col-12 description my-1 text-wrap">
                            <div class="col-10 my-1 p-0 text-wrap">
                                <h3 class="m-0 p-0 text-wrap h5">{{development.name}}</h3>
                            </div>
                            <div class="col-10 my-1 p-0 text-wrap">
                                <p class="m-0 p-0 text-wrap">{{development.address}}</p>
                            </div>
                        </div>
                        <span class="badge text-left text-uppercase text-wrap">{{$t('from_money')}} {{development.price | moneyFormat}} {{development.currency.name}}</span>
                    </router-link>
                </div>
                <infinite-loading @distance="1" @infinite="handleLoadMore">
                    <div slot="no-more">
                        {{$t('more_developments_done')}}
                    </div>
                </infinite-loading>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from "@/layout/components/Header.vue";
    import Footer from "@/layout/components/Footer.vue";
    import InfiniteLoading from 'vue-infinite-loading';

    export default {
        name: "Developments",
        metaInfo() {
            return {
                title: 'DESARROLLOS',
                meta: [
                    {property: 'og:title', content: 'VITERRA | DESARROLLOS'},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {   property: 'og:image',
                        itemprop: 'image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:card', content: 'summary'},
                    {property: 'twitter:site', content: window.location.href},
                    {property: 'twitter:title', content: 'VITERRA | DESARROLLOS'},
                    {
                        property: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {
                        property: 'twitter:image:src',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:creator', content: '@viterrainmob'},
                    // {itemprop: 'name', content: 'VITERRA | DESARROLLOS'},
                    // {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            Footer,
            Header,
            InfiniteLoading
        },
        data() {
            return {
                developments: [],
                currentPage: 1,
                page: 1,
                total: 0,
            }
        },
        methods: {
            async handleLoadMore($state) {
                if ( this.developments.length >= this.total) {
                    $state.complete();
                }

                this.$http.get('/api/development', {
                    params: {
                        'page': this.page
                    }
                }).then(response => {
                    const hits = response.data.data;

                    if (hits.length) {
                        $.each(response.data.data, (key, value) => {
                            this.developments.push(value);
                        });
                        this.page += 1;
                        $state.loaded();
                    }
                });
            },
            async init() {
                const URL_DEVELOPMENTS = '/api/development';
                this.$http.get(URL_DEVELOPMENTS)
                    .then(response => {
                        this.developments = response.data.data;
                        this.currentPage = response.data.current_page;
                        this.total = response.data.total;
                        this.page += 1;
                    })
                    .catch(e => {
                        console.error(e);
                    })
            }
        },
        filters: {
            moneyFormat(val) {
                if (!val) return '';
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        },
        created() {
            this.init()
        }
    }
</script>
