<template>
    <div id="Home">
        <header-with-out-search></header-with-out-search>
        <section id="section" class="search-section">
            <transition name="slide-fade">
                <div class="theImage" v-bind:style="{'background-image': 'url(' + images[currentImgID] + ')'}" v-bind:key="currentImgID"></div>
            </transition>
            <div class="container search-div-wrap">
                <div class="row justify-content-center bg-dark-opacity search-div">
                    <div class="col-md-12 text-center">
                        <h2 class="text-center text-uppercase">{{ $t('title') }} </h2>
                    </div>
                    <div class="col-md-12">
                        <Search></Search>
                    </div>
                    <div class="col-12 d-lg-flex justify-content-lg-center py-3">
                        <LinksHome v-for="(city, index) in cities" :key="index" :city="city"></LinksHome>
                    </div>
                </div>
            </div>
        </section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <div class="col-md-12">
                        <h3 class="border-red text-uppercase text-center h1">{{ $t('home_featured') }}</h3>
                    </div>
                    <Featured></Featured>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-center">
                    <div class="col-md-12 text-center border-red mb-3">
                        <router-link to="/developments" class="text-uppercase text-center text-dark text-decoration-none h1">{{ $t('development') }}
                        </router-link>
                    </div>
                    <CarouselDevelopment></CarouselDevelopment>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Carousel from 'vue-owl-carousel';
    import Search from '@/components/Search.vue';
    import LinksHome from '@/components/LinksHome.vue';
    import Footer from "@/layout/components/Footer.vue";
    import Featured from '@/components/Featured.vue';
    import HeaderWithOutSearch from "@/layout/components/HeaderWithOutSearch.vue";
    import CarouselDevelopment from "@/components/CarouselDevelopment.vue";

    export default {
        name: 'Home',
        metaInfo() {
            return {
                title: 'INICIO',
                meta: [
                    {property: 'og:title', content: 'VITERRA INMOBILIARIA / INICIO'},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description', 
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {   property: 'og:image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:card', content: 'summary'},
                    {property: 'twitter:site', content: window.location.href},
                    {property: 'twitter:title', content: 'VITERRA | INICIO'},
                    {
                        property: 'twitter:image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {
                        property: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {property: 'twitter:creator', content: '@viterrainmob'},
                    // {itemprop: 'name', content: 'VITERRA | INICIO'},
                    // {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            CarouselDevelopment,
            HeaderWithOutSearch,
            Footer,
            Search,
            LinksHome,
            Featured,
            Carousel
        },
        data() {
            return {
                cities: [],
                currentImgID: 0,
                images: [
                    "/img/banner-1.jpg",
                ],
                count: 0
            }
        },
        methods: {
            getCities() {
                this.$http.get(`/api/cities`)
                    .then((response) => {
                        this.cities = response.data;
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            },
            getImages() {
                this.$http.get(`/api/slide-images`)
                    .then((response) => {
                        // console.log('slide-images: ', response.data)
                        $.each(response.data, (key, value) => {
                            // console.log('image: ', value);
                            this.images.push(`/storage/${value?.url}`);
                        });

                        // console.log('images: ', this.images);
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            },
            initFadeImages: function() {
                setInterval(() => {
                    if(this.currentImgID < this.images.length-1) {
                        this.currentImgID += 1
                    } else {
                        this.currentImgID = 0
                    }
                }, 6000);
            }
        },
        mounted() {
            this.getImages();
            this.getCities();
            this.initFadeImages();
            this.$store.dispatch('updateSearch', {
                place: null,
                typeProperty: null,
                typeTrade: null
            });
        }
    }
</script>

<style lang="scss">
    h2 {
        color: #fff;
    }

    .search-section {
        position: relative;
        overflow: hidden;
    }

    .search-div-wrap {
        padding-top: 15%;
        padding-bottom: 15%;
    }

    .search-div {
        position: relative;
        z-index: 1;
    }

    .slide-fade {
        z-index: 0;
    }

    .theImage {
        width: 100%;
        height: 100%;
        position: absolute;
        // background-color: #333;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        -webkit-transition: all 3s ease;
        transition: all 3s ease;
        background-color: #fff;
    }

    .slide-fade-enter-active {
        opacity: 1;
        // z-index: 10;
    }

    .slide-fade-leave-active {
        opacity: 1;
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
        opacity: 0;
    }
</style>
