<template>
    <div id="FrequentQuestion">
        <Header></Header>
        <div class="container my-5">
            <div class="col-12 d-flex justify-content-center">
                <div class="col-md-7">
                    <img src="../../img/solicitamos.png" alt="our team" class="img-fluid">
                </div>
            </div>
            <h3 class="text-dark my-5 text-center">{{$t('link_our_team')}}</h3>
            <div class="accordion" id="accordionQuestion">
                <div class="text-center text-dark">
                    Envía tu CV a <a href="mailto:contacto@viterrainmobiliaria.com" class="text-dark">contacto@viterrainmobiliaria.com</a>
                </div>
            </div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from "@/layout/components/Header.vue";
    import Footer from "@/layout/components/Footer.vue";

    export default {
        name: "OurTeam",
        metaInfo() {
            return {
                title: 'ÚNETE',
                meta: [
                    {property: 'og:title', content: 'VITERRA | ÚNETE'},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {   property: 'og:image',
                        itemprop: 'image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:card', content: 'summary'},
                    {property: 'twitter:site', content: window.location.href},
                    {property: 'twitter:title', content: 'VITERRA | ÚNETE'},
                    {
                        property: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {
                        property: 'twitter:image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {property: 'twitter:creator', content: '@viterrainmob'},
                    // {itemprop: 'name', content: 'VITERRA | ÚNETE'},
                    // {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            Footer,
            Header
        }
    }
</script>

