<template>
    <div id="Property">
        <Header />
        <div class="container my-5">
            <Carousel v-if="show_carousel" :dots="false" :responsive="carouselResponsive"
                :navText="carouselButtons" :autoplay="true" :loop="true">
                    <div v-if="show_images" v-for="(image, index) in images" :key="index" class="image-property"
                        @click="toogleCarouselModal()"
                    >
                        <img :src="image" :alt="`image-${index}`" class="rounded img-fluid">
                    </div>
                    <div v-if="youtube_video"
                         class="image-featured position-relative d-flex align-items-center justify-content-center"
                         :style="`background-image: url('${cover_video}')`"
                         data-toggle="modal" data-target="#videoModal">
                        <p class="text-center m-0 text-white"><i class="far fa-play-circle fa-4x"></i></p>
                    </div>
                    <div v-if="!show_images" class="image-property">
                        <img src="https://place-hold.it/200.png?text=propiedad" alt="propiedad" class="rounded img-fluid">
                    </div>
            </Carousel>
            <h2 class="my-3 text-left text-uppercase text-dark">
                {{name}} - {{propertyType}}
            </h2>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="mb-1 text-red">{{price | moneyFormat}} {{currency}} - {{trade_type}}</h5>
                    <p class="text-justify text-capitalize">{{address}}</p>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-4 text-center"
                                 v-if="parseInt(land_square_meters)">
                                <div class="col-12 d-flex justify-content-center">
                                    <p class="m-0">{{land_square_meters}}</p>
                                    <img src="/public/img/svg/meters_red.svg" class="icon-list" alt="meters" />
                                </div>
                                <div class="col-12 text-center font-front-bottom p-0" v-show="front || bottom">
                                    {{front}} x {{bottom}}
                                </div>
                            </div>
                            <div class="col text-center d-flex justify-content-center m-0 p-0"
                                 v-if="parseInt(square_meters)">
                                <p>{{square_meters}}</p>
                                <img src="/public/img/svg/construction_red.svg" class="icon-list" alt="construction" />
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(room)">
                                <p class="mx-1">{{room}}</p>
                                <img src="/public/img/svg/bed_red.svg" class="icon-list" alt="bed" />
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(bathroom)">
                                <p class="mx-1">{{bathroom}}</p>
                                <img src="/public/img/svg/toilet_red.svg" class="icon-list" alt="toilet"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(floor)">
                                <p class="mx-1">{{floor}}</p>
                                <img src="/public/img/svg/layer_red.svg" class="icon-list" alt="layer"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(levels)">
                                <p class="mx-1">{{levels}}</p>
                                <img src="/public/img/svg/levels.svg" class="icon-list" alt="levels"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(car_spot)">
                                <p class="mx-1">{{car_spot}}</p>
                                <img src="/public/img/svg/parking_red.svg" class="icon-list" alt="parking"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(terrace)">
                                <p class="mx-1">Si</p>
                                <img src="/public/img/svg/terrace_red.svg" class="icon-list" alt="terrace_red"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="parseInt(garden)">
                                <p class="mx-1">{{garden_square_meters}} m2</p>
                                <img src="/public/img/svg/plant_red.svg" class="icon-list" alt="plant_red"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center" v-if="antique != null">
                                <p class="mx-1">{{antique}}</p>
                                <img src="/public/img/svg/antique_red.svg" class="icon-list" alt="antique"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center pb-4">
                        <FacebookButton class="mx-1"></FacebookButton>
                        <whats-app :url="getUrl()" scale="2" :title="name" class="mx-1"></whats-app>
                        <PhoneButton />
                        <InstagramButton />
                    </div>
                    <div>
                        <button v-if="youtube_video"  class="view-more-btn mr-2" data-toggle="modal" data-target="#videoModal">
                            <span v-text="$t('see_video')" class="mr-1"></span>
                            <svg id="b" xmlns="http://www.w3.org/2000/svg" width="10" viewBox="0 0 264.7 277.49">
                                <g id="c">
                                    <path d="m59.43,5.09l188.12,104.51c22.86,12.7,22.86,45.58,0,58.28l-188.12,104.51c-26.66,14.81-59.43-4.47-59.43-34.97V40.06C0,9.56,32.76-9.72,59.43,5.09Z" style="fill:#fff; fill-rule:evenodd;"/>
                                </g>
                            </svg>
                        </button>

                        <button v-if="virtual_tour !== null" class="view-more-btn" data-toggle="modal" data-target="#virtualTourModal">
                            <span v-text="$t('see_virtual_tour')" class="mr-1"></span>
                            <svg id="b" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 666.67 666.67">
                                <g id="c">
                                    <circle cx="333.33" cy="66.67" r="66.67" style="fill:#fff;"/>
                                    <path d="m333.33,533.33h66.67v-166.67h66.67v-133.33c0-36.77-29.9-66.67-66.67-66.67h-133.33c-36.77,0-66.67,29.9-66.67,66.67v133.33h66.67v166.67h66.67Z" style="fill:#fff;"/><path d="m548.2,312.87l-29.77,59.63c51.83,25.83,81.57,60.17,81.57,94.17,0,63.07-109.5,133.33-266.67,133.33s-266.67-70.27-266.67-133.33c0-34,29.73-68.33,81.53-94.17l-29.77-59.63C43.17,350.4,0,406.43,0,466.67c0,112.13,146.43,200,333.33,200s333.33-87.87,333.33-200c0-60.23-43.17-116.27-118.47-153.8Z" style="fill:#fff;"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="col-md-8 my-3 my-md-0">
                    <MapProperty :markers="markers"></MapProperty>
                </div>
            </div>

            <div class="py-4">
                <h3 class="text-justify text-uppercase pb-0 mb-0">
                    <span>{{$t('description')}}</span>
                </h3>
                <div class="pb-4">
                    <div v-if="!!(short_description)" v-html="short_description" class="short_description"></div>
                    <div v-if="!!(short_description && description)">
                        <collapse-transition>
                            <div v-show="isOpen">
                                <div v-html="description"></div>
                            </div>
                        </collapse-transition>
                        <span>
                            <button class="view-more-btn" @click="isOpen = !isOpen">
                                <span v-text="isOpen ? 'Ver menos' : 'Ver más' "></span>
                            </button>
                        </span>
                    </div>
                    <div v-else>
                        <div v-html="description"></div>
                    </div>
                </div>
            </div>
            <h3 class="border-red text-uppercase">{{ $t('featured') }}</h3>
            <FeaturedIcons></FeaturedIcons>
        </div>
        <Footer />
        <div class="modal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" id="player"
                                    :src="youtube_video"
                                    allowfullscreen frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="virtualTourModal" tabindex="-1" role="dialog" aria-labelledby="virtualTourLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <!-- <div class="matterport-showcase"> -->
                                <iframe id="showcase-player" width="853" height="480" :src="virtual_tour" frameborder="0" allowfullscreen allow='xr-spatial-tracking'></iframe>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="showCarouselModal" role="dialog"  aria-hidden="true" class="carouselModal">
            <div class="carouselWrapper">
                <!-- <button @click="toogleCarouselModal()" class="btn-close"></button> -->
                <button class="btn-close close" @click="toogleCarouselModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <Carousel v-if="show_carousel" :dots="false" :responsive="carouselResponsive"
                        :navText="carouselButtons" :loop="true">
                    <div v-if="show_images" v-for="(image, index) in images" :key="index" class="image-carousel-full">
                        <img :src="image" :alt="`image-${index}`" class="rounded img-fluid">
                    </div>
                    <div v-if="youtube_video"
                        class="image-featured position-relative d-flex align-items-center justify-content-center"
                        :style="`background-image: url('${cover_video}')`"
                        data-toggle="modal" data-target="#videoModal">
                        <p class="text-center m-0 text-white"><i class="far fa-play-circle fa-4x"></i></p>
                    </div>
                    <div v-if="!show_images" class="image-property">
                        <img src="https://place-hold.it/200.png?text=propiedad" alt="propiedad" class="rounded img-fluid">
                    </div>
                </Carousel>
            </div>
        </div>

    </div>
</template>

<script>
    import {mapState} from "vuex";
    import Carousel from 'vue-owl-carousel';
    import Header from "@/layout/components/Header.vue";
    import Footer from "@/layout/components/Footer.vue";
    import MapProperty from "@/components/MapProperty.vue";
    import Loader from 'vue-spinner/src/GridLoader.vue';
    import {WhatsApp} from 'vue-socialmedia-share';
    import FeaturedIcons from "@/components/FeaturedIcons.vue";
    import FacebookButton from "@/components/FacebookMsgrButton.vue";
    import InstagramButton from "@/components/InstagramButton.vue";
    import PhoneButton from "@/components/PhoneButton.vue";
    import { CollapseTransition } from "@ivanv/vue-collapse-transition";

    export default {
        name: "Property",
        metaInfo() {
            return {
                title: this.name.toUpperCase(),
                meta: [
                    {property: 'og:title', content: `Viterra | ${this.name.toUpperCase()}`},
                    {property: 'og:site_name', content: 'Viterra'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {name: 'twitter:card', content: 'summary'},
                    {name: 'twitter:site', content: window.location.href},
                    {name: 'twitter:image', content: this.images[0]},
                    {name: 'twitter:title', content: `Viterra | ${this.name.toUpperCase()}`},
                    {
                        name: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {name: 'twitter:creator', content: '@viterrainmob'},
                    {itemprop: 'name', content: `Viterra | ${this.name.toUpperCase()}`},
                    {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {
            FeaturedIcons, MapProperty, Footer, Header, Carousel, Loader,
            FacebookButton, WhatsApp, InstagramButton, PhoneButton, CollapseTransition,

        },
        data() {
            return {
                isOpen: false,
                videoIsOpen: false,
                showfirstModal: false,
                showSecondModal: false,
                showCarouselModal: false,
                carouselResponsive: {0: {items: 1, nav: true}},
                carouselButtons: [
                    `<i class="fas fa-chevron-left fa-3x"></i>`,
                    `<i class="fas fa-chevron-right fa-3x"></i>`
                ],
                land_square_meters: null,
                images: [],
                name: '',
                price: 0,
                address: '',
                description: '',
                short_description: '',
                markers: [],
                show_carousel: false,
                show_images: false,
                square_meters: null,
                room: 0,
                bathroom: 0,
                floor: 0,
                levels: 0,
                car_spot: 0,
                loading: false,
                terrace: 0,
                garden: 0,
                garden_square_meters: 0,
                currency: '',
                antique: null,
                trade_type: null,
                propertyType: '',
                front: 0,
                bottom: 0,
                cover_video: '',
                youtube_video: '',
                virtual_tour: null,
            }
        },
        filters: {
            moneyFormat(val) {
                if (!val) return '';
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        },
        methods: {
            toogleCarouselModal() {
                this.showCarouselModal = !this.showCarouselModal;
            },
            getProperty() {
                const URL_PROPERTY = `/api/property`;
                this.$http.get(URL_PROPERTY, {
                    params: {
                        slug: this.$route.params.slug
                    }
                }).then(response => {
                    this.cover_video = response.data.image_video;
                    this.youtube_video = response.data.youtube_video ? `https://www.youtube.com/embed/${response.data.youtube_video}?version=3&loop=1&playlist=${response.data.youtube_video}&origin=${window.location.protocol}://${window.location.hostname}` : '';
                    this.seeImages(response.data.images);
                    this.name = response.data.name;
                    this.price = response.data.price;
                    this.address = response.data.location.address;
                    this.suburb = response.data.location.suburb;
                    this.description = response.data.description;
                    this.short_description = response.data.short_description;
                    this.square_meters = response.data.square_meters;
                    this.front = response.data.front;
                    this.bottom = response.data.bottom;
                    this.land_square_meters = response.data.land_square_meters;
                    this.room = response.data.room;
                    this.bathroom = response.data.bathroom;
                    this.floor = response.data.floor;
                    this.levels = response.data.levels;
                    this.car_spot = response.data.car_spot;
                    this.terrace = response.data.terrace;
                    this.garden = response.data.garden;
                    this.antique = response.data.antique;
                    this.currency = response.data.currency !== null ? response.data.currency.name : 'MXN';
                    this.garden_square_meters = response.data.garden_square_meters;
                    this.virtual_tour = response.data.virtual_tour;
                    let lat_lng = response.data.location.coordinates.split(',');
                    this.propertyType = response.data.property_type.name?.[this.$i18n.locale];
                    this.trade_type = response.data.trade_type !== null ? response.data.trade_type.name?.[this.$i18n.locale]: 'VENTA';
                    const MARKER = {
                        lat: parseFloat(lat_lng[0]),
                        lng: parseFloat(lat_lng[1])
                    };
                    this.markers.push({position: MARKER})
                    console.log('MAKERS: ', this.markers);
                }).catch(error => {
                    console.log('prop error ', error);
                    this.$router.push({path: '/404'});
                });
            },
            seeImages(images) {
                if (images) {
                    this.images = images;
                    this.show_images = true;
                }
                this.show_carousel = true;
            },
            getUrl() {
                return document.location.href;
            }
        },
        created() {
            this.getProperty();
        },
        computed: mapState(['search']),
        watch: {
            search: {
                deep: true,
                immediate: true,
                handler() {
                }
            }
        },

    }
</script>

<style lang="scss" scoped>
    .owl-carousel .owl-item img {
        display: block;
        width: auto !important;
        height: 100%;
        margin: auto;
    }

    .carouselWrapper .owl-carousel .owl-item img {
        height: 85vh;
        margin: 0 auto;
    }

    div.image-property {
        background-color: #fff !important;
    }

    .short_description {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .short_description::v-deep p {
        margin-bottom: 0 !important;
    }

    .view-more-btn {
        display: inline-block;
        font-weight: 400;
        color: #fff;
        background-color: #9E0B0F;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: 0.325rem 0.475rem;
        font-size: 0.9rem;
        line-height: 1.6;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .carouselModal {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        top: 0;
        bottom: 0;
        padding: 0;
        margin: 0;
        background: #000;
    }
    .carouselWrapper {
        position: relative;
        padding: 0;
    }

    @media (min-width: 767.98px) {
        .carouselWrapper {
            padding: 3rem;
        }
    }

    // @media (min-width: 991.98px) {
    //     .carouselWrapper {
    //         padding: 5rem;
    //     }
    // }

    .btn-close {
        position: absolute;
        z-index: 50;
        top: 30px;
        right: 30px;
        background: #fff;
        border-radius: 20px;
        width: 30px;
        height: 30px;
    }
</style>
