<template>
    <div id="SearchView h-100">
        <Header></Header>
        <div class="container-fluid" style="height: calc(100vh - 7.625rem) !important">
            <div class="row h-100">
                <div class="col-12 col-lg-5 shadow" id="div-side-nav">
                    <div class="col-12 d-flex justify-content-center" style="height: 11rem">
                        <div class="col-10 my-3">
                            <h5 class="mb-0 text-center">{{$t('price')}}</h5>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">{{0 | moneyFormat}}</p>
                                <p class="mb-0">{{maxValue | moneyFormat}}</p>
                            </div>
                            <div class="col-md-12 my-2">
                                <form action="#" class="form-row justify-content-center"
                                      @submit.prevent="searchFilter">
                                    <div class="col-md-5 mb-2 mb-md-0">
                                        <input type="number" class="form-control form-control-sm"
                                               v-model="valueSlider[0]" placeholder="MIN">
                                    </div>
                                    <div class="col-md-5 mb-2 mb-md-0">
                                        <input type="number" class="form-control form-control-sm"
                                               v-model="valueSlider[1]" placeholder="MAX">
                                    </div>
                                    <div class="col-md-2 mb-2 mb-md-0">
                                        <button type="submit" class="btn btn-block btn-sm btn-red"><i
                                            class="fas fa-caret-right fa-lg"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <button class="btn btn-red" @click="cleanAttributes">{{$t('button_clean')}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" id="list-properties">
                        <div class="row justify-content-center py-5" v-if="loading">
                            <GridLoader :loading="loading" :color="'#790022'"></GridLoader>
                        </div>
                        <div class="col-md-12 overflow-auto h-100" >
                            <ListItem v-for="(property, index) in properties" :key="index"
                                      :property="property"></ListItem>
                        </div>
                        <div class="container-fluid py-2">
                            <div class="row justify-content-center align-bottom">
                                <div>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item" :class="prevPage ? '' : 'disabled'">
                                                <a class="page-link" href="#" aria-label="Previous"
                                                   @click.prevent="getPrevPage(prevPage)">
                                                    <span aria-hidden="true">&laquo;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <li class="page-item" :class="currentPage === index ? 'active' : ''"
                                                v-for="index in lastPage"
                                                :key="index">
                                                <a class="page-link" href="#"
                                                   @click.prevent="getPerPage(index)">{{index}}</a>
                                            </li>
                                            <li class="page-item" :class="nextPage ? '' : 'disabled'">
                                                <a class="page-link" href="#" @click.prevent="getNextPage(nextPage)"
                                                   aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-7 d-none d-lg-block h-100">
                    <Map class="h-100" :markers="markers"></Map>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Map from '@/components/Map.vue';
    import ListItem from '@/components/ListItem.vue';
    import Header from "@/layout/components/Header.vue";
    import GridLoader from 'vue-spinner/src/GridLoader.vue';
    import 'bootstrap-slider/dist/css/bootstrap-slider.css'

    export default {
        name: "SearchView",
        metaInfo() {
            return {
                title: 'BUSQUEDA',
                meta: [
                    {property: 'og:title', content: 'VITERRA | BUSQUEDA'},
                    {property: 'og:site_name', content: 'VITERRA'},
                    {property: 'og:type', content: 'website'},
                    {property: 'og:url', content: window.location.href},
                    {
                        property: 'og:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {   property: 'og:image',
                        itemprop: 'image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {name: 'twitter:card', content: 'summary'},
                    {name: 'twitter:site', content: window.location.href},
                    {name: 'twitter:title', content: 'VITERRA | BUSQUEDA'},
                    {
                        name: 'twitter:description',
                        content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'
                    },
                    {name: 'twitter:creator', content: '@viterrainmob'},
                    {itemprop: 'name', content: 'VITERRA | BUSQUEDA'},
                    {
                        name: 'twitter:image',
                        content: 'https://viterrainmobiliaria.com/img/viterra-logo.jpg'
                    },
                    {itemprop: 'description', content: 'Empresa inmobiliaria enfocada en el mercado residencial alto'}
                ]
            }
        },
        components: {Header, Map, ListItem, GridLoader},
        data() {
            return {
                valueSlider: [0, 999999999],
                maxValue: 999999999,
                markers: [],
                properties: [],
                loading: false,
                currentPage: 1,
                nextPage: null,
                prevPage: null,
                lastPage: 0
            }
        },
        filters: {
            moneyFormat(val) {
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        },
        methods: {
            cleanAttributes() {
                this.getMaxValue();
                this.$store.dispatch('updateSearch', {
                        place: null,
                        typeProperty: null,
                        typeTrade: null,
                        home: 0
                    }
                )
            },
            async searchFilter() {
                let URL_FILTER;
                if (this.search.search.home === true) {
                    URL_FILTER = `/api/filter-properties-home`;
                } else {
                    URL_FILTER = `/api/filter-properties`;
                }
                this.loading = true;
                this.$http.get(URL_FILTER, {
                    params: {
                        'filter': this.valueSlider,
                        'place': this.search.search.place,
                        'propertyType': this.search.search.typeProperty,
                        'tradeType': this.search.search.typeTrade
                    },
                }).then(response => {
                    this.markers = [];
                    response.data.data.forEach((e) => {
                        let lat_lng = e.location.coordinates.split(',');
                        const MARKER = {
                            lat: parseFloat(lat_lng[0]),
                            lng: parseFloat(lat_lng[1])
                        };
                        this.markers.push({
                            position: MARKER,
                            name: e.name,
                            address: e.location.address,
                            price: e.price,
                            slug: e.slug,
                            tradetype: e.trade_type_slug,
                            propertytype: e.property_type_slug,
                            city: e.city_slug,
                            currency: e.currency !== null ? e.currency.name : 'MXN'
                        });
                        // console.log(e.property_type_slug);
                    });
                    this.properties = response.data.data;
                    this.nextPage = response.data.next_page_url;
                    this.prevPage = response.data.prev_page_url;
                    this.lastPage = response.data.last_page;
                    this.currentPage = response.data.current_page;
                    this.loading = false;
                }).then(response => {
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        title: this.$t('message_success'),
                        text: this.$t('message_success_properties_api')
                    });
                }).catch(error => {
                    this.properties = [];
                    this.markers = [];
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error!',
                        text: this.$t('message_error_properties_api')
                    });
                });
            },
            async getNextPage(url) {
                if (url) {
                    this.$http.get(url, {
                        params: {
                            'filter': this.valueSlider,
                            'place': this.search.search.place,
                            'propertyType': this.search.search.typeProperty,
                            'tradeType': this.search.search.typeTrade
                        }
                    }).then(response => {
                        this.markers = [];
                        response.data.data.forEach((e) => {
                            let lat_lng = e.location.coordinates.split(',');
                            const MARKER = {
                                lat: parseFloat(lat_lng[0]),
                                lng: parseFloat(lat_lng[1])
                            };
                            this.markers.push({
                                position: MARKER,
                                name: e.name,
                                address: e.location.address,
                                price: e.price,
                                id: e.id,
                                currency: e.currency !== null ? e.currency.name : 'MXN'
                            });
                        });
                        this.properties = response.data.data;
                        this.nextPage = response.data.next_page_url;
                        this.prevPage = response.data.prev_page_url;
                        this.lastPage = response.data.last_page;
                        this.currentPage = response.data.current_page;
                    })
                        .catch(e => {
                            console.error(e);
                        })
                }
            },
            async getPrevPage(url) {
                if (url) {
                    this.$http.get(url, {
                        params: {
                            'filter': this.valueSlider,
                            'place': this.search.search.place,
                            'propertyType': this.search.search.typeProperty,
                            'tradeType': this.search.search.typeTrade
                        }
                    }).then(response => {
                        this.markers = [];
                        response.data.data.forEach((e) => {
                            let lat_lng = e.location.coordinates.split(',');
                            const MARKER = {
                                lat: parseFloat(lat_lng[0]),
                                lng: parseFloat(lat_lng[1])
                            };
                            this.markers.push({
                                position: MARKER,
                                name: e.name,
                                address: e.location.address,
                                price: e.price,
                                id: e.id,
                                currency: e.currency !== null ? e.currency.name : 'MXN'
                            });
                        });
                        this.properties = response.data.data;
                        this.nextPage = response.data.next_page_url;
                        this.prevPage = response.data.prev_page_url;
                        this.lastPage = response.data.last_page;
                        this.currentPage = response.data.current_page;
                    })
                        .catch(e => {
                            console.error(e);
                        })
                }
            },
            async getPerPage(id) {
                if (id !== this.currentPage) {
                    const URL_PROPERTIES = `/api/filter-properties`;
                    this.$http.get(URL_PROPERTIES, {
                        params: {
                            'page': id,
                            'filter': this.valueSlider,
                            'place': this.search.search.place,
                            'propertyType': this.search.search.typeProperty,
                            'tradeType': this.search.search.typeTrade
                        }
                    }).then(response => {
                        this.markers = [];
                        response.data.data.forEach((e) => {
                            let lat_lng = e.location.coordinates.split(',');
                            const MARKER = {
                                lat: parseFloat(lat_lng[0]),
                                lng: parseFloat(lat_lng[1])
                            };
                            this.markers.push({
                                position: MARKER,
                                name: e.name,
                                address: e.location.address,
                                price: e.price,
                                id: e.id,
                                currency: e.currency !== null ? e.currency.name : 'MXN'
                            });
                        });
                        this.properties = response.data.data;
                        this.nextPage = response.data.next_page_url;
                        this.prevPage = response.data.prev_page_url;
                        this.lastPage = response.data.last_page;
                        this.currentPage = response.data.current_page;
                    })
                        .catch(e => {
                            console.error(e);
                        })
                }
            },
            getMaxValue() {
                const URL_MONEY = '/api/money';
                this.$http.get(URL_MONEY)
                    .then(response => {
                        this.valueSlider[1] = response.data;
                        this.maxValue = response.data;
                    }).catch(error => {
                    console.error('Error monetario');
                })
            }
        },
        created() {
            this.getMaxValue();
        },
        computed: mapState(['search']),
        watch: {
            search: {
                deep: true,
                immediate: true,
                handler() {
                    this.searchFilter();
                }
            }
        }
    }
</script>

<style lang="scss">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
