<template>
    <div class="card border-light" :id="'heading' + city.id">
        <div class="card-header button-collapse-contact" :id="'heading' + city.id" role="button" data-toggle="collapse"
             :data-target="'#collapse' + city.id" aria-expanded="false" :aria-controls="'collapse' + city.id">
            <h3 class="mb-0 icon arrow">
                {{city.city}}
            </h3>
        </div>

        <div :id="'collapse' + city.id" class="collapse border-top" :aria-labelledby="'heading' + city.id"
             data-parent="#accordionCity">
            <div class="card-body">
                <div class="col-md-7 text-justify">
                    {{city.address}}
                    {{city.phone}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CardCollapseCity",
        props: ['city']
    }
</script>
