<template>
    <div class="card">
        <div class="card-header bg-white button-collapse" :id="'heading' + question.id" data-toggle="collapse" :data-target="'#collapse' + question.id"
             aria-expanded="false" aria-controls="collapseOne">
            <h3 class="mb-0 text-dark text-center text-md-left icon arrow">
                {{question.question}}
            </h3>
        </div>

        <div :id="'collapse' + question.id" class="collapse border-top" :aria-labelledby="'heading' + question.id"
             data-parent="#accordionQuestion">
            <div class="card-body text-justify bg-light">
                {{question.answer}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CardCollapseQuestion",
        props: ['question']
    }
</script>
