<template>
    <div class="mb-5">
        <Carousel v-if="show_carousel" :margin="carouselMargin" :nav="carouselButtons" :dots="carouselDots"
                  :responsive="carouselResponsive" :autoplay="carouselAutoPlay">
            <div v-for="(n, index) in developments" :key="index">
                <router-link :to="{name: 'development', params: {slug: n.slug}}" class="links text-wrap">
                    <div class="div-container-img-development position-relative">
                        <img class="m-0"
                            :src=" n.cover ?  n.cover : 'https://place-hold.it/280'" :alt="n.name">
                    </div>
                </router-link>
            </div>
        </Carousel>

    </div>
</template>

<script>
    import Carousel from 'vue-owl-carousel';

    export default {
        name: "CarouselDevelopment",
        components:{Carousel},
        data() {
            return {
                developments: [],
                carouselResponsive: {
                    0: {items: 1, nav: false},
                    768: {items: 3, nav: false},
                    1200: {items: 4, nav: false}
                },
                carouselDots: false,
                carouselButtons: false,
                carouselMargin: 20,
                carouselAutoPlay: true,
                featured: [],
                show_carousel: false,
                lazyLoad:true,
            }
        },
        methods: {
            getDevelopments() {
                const URL_FEATURED = '/api/development-featured';
                this.$http.get(URL_FEATURED)
                    .then(response => {
                        this.developments = response.data;
                        this.show_carousel = true;
                    })
                    .catch(error => {
                        console.error('error en los desarrollos destacados');
                    })
            }
        },
        created() {
            this.getDevelopments();
        }
    }
</script>
