<template>
  <!-- <a class='btn btn-success flotante py-2 px-2 rounded-circle' href='https://wa.me/+523331991774' target='_blank'>
      <i class="fab fa-whatsapp fa-3x"></i>
  </a> -->
  <div class="contact-wrapper">
    <div class="contact-launcher">
      <ul class="contact-menu">
          <li>
            <a href="mailto:contacto@viterrainmobiliaria.com" class="btn py-2 px-2 rounded-circle bg-btn-red"
              data-open="contacto-modal" aria-controls="contacto-modal" aria-haspopup="true" tabindex="0">
              <img src="/public/img/contact/email.svg" alt="Viterra email" width="30" />
            </a>
          </li>
          <li>
            <a class="btn py-2 px-2 rounded-circle bg-btn-red" href="tel:3336297122">
              <img src="/public/img/contact/phone.svg" alt="Viterra teléfono" width="30" title="tel:3336297122" />
            </a>
          </li>
          <li>
            <a class="btn py-2 px-2 rounded-circle bg-btn-red"
              href="https://wa.me/+523331991774" target="_blank">
              <img src="/public/img/contact/whatsapp.svg" alt="Viterra whatsApp" width="30" title="tel:+523331991774" />
            </a>
          </li>
      </ul>
      <button class="hide-for-small-only btn py-2 px-2 rounded-circle bg-btn-red">
        <img src="/public/img/contact/whatsapp.svg" alt="Viterra chat" width="30" title="chat" color="#fff" />
      </button>
    </div>
  </div>
</template>

<style lang="scss">
  .contact-wrapper {
    position: relative;
  }

  .contact-launcher {
    z-index: 10;
    position: fixed;
    right: 90px !important;
    bottom: 80px !important;
    box-sizing: border-box;
    overflow: hidden;
    height: 0;
  }

  .contact-menu {
    transform: translateY(0);
    transform-origin: bottom;
    transition: translateY 2s ease-in-out;
  }

  .contact-launcher:hover {
    height: 200px;
  }

  .contact-launcher button {
    padding: 12px;
    opacity: 1;
    z-index: 100000;
    position: fixed;
    right: 80px;
    bottom: 16px;
    width: 65px;
    height: 65px;
  }

  .contact-launcher:hover .contact-menu {
    transform: translateY(200);
  }

  .contact-launcher:hover button {
    background-color: rgba(156, 16, 6, .4);
  }

  .bg-btn-red {
    background-color: rgba(156, 16, 6, .8);
  }

  .bg-btn-red:hover {
    background-color: rgba(228, 5, 20, 0.8);
  }

  .contact-launcher > ul {
    // height: 290px;
    list-style: none;
  }

  .contact-launcher > ul li {
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .contact-launcher > ul a {
    cursor: pointer;
    padding: 12px;
    height: 50px;
    width: 50px;
    opacity: 1;
  }
</style>
