<template>
  <a href="https://m.facebook.com/messages/compose?ids=150260515163116" target="_blank">
    <svg version="1.1" role="presentation" width="28" height="32" viewBox="0 0 448 512" class="fa-icon" style="font-size: 2em;" color="#3B5998">
      <path d="M448 56.7V455.2C448 468.9 436.9 479.9 423.3 479.9H309.1V306.5H367.3L376 238.9H309V195.7C309 176.1 314.4 162.8 342.5 162.8H378.3V102.3C372.1 101.5 350.9 99.6 326.1 99.6 274.5 99.6 239.1 131.1 239.1 189V238.9H180.7V306.5H239.1V480H24.7C11.1 480 0 468.9 0 455.3V56.7C0 43.1 11.1 32 24.7 32H423.2C436.9 32 448 43.1 448 56.7z"></path>
    </svg>
  </a>
</template>
