<template>
    <div id="Featured">
        <Carousel v-if="show_carousel" :margin="carouselMargin" :nav="carouselButtons" :dots="carouselDots" :autoplayTimeout="autoplayTimeout"
                  :responsive="carouselResponsive" :autoplay="carouselAutoPlay">
            <div v-for="(n, index) in featured" :key="index" class="container-carousel text-wrap">
                <router-link :to="{name: 'property', params: {slug: n.slug, tradetype: n.trade_type_slug, propertytype: n.property_type_slug ,city: n.city_slug}}" class="links text-wrap">
                    <div class="div-container-img-carousel position-relative">
                        <img class="m-0 image-featured"
                             :src=" n.images ?  n.images[0] : 'https://place-hold.it/280'" :alt="n.name">
                        <div class="position-absolute featured-name col-12 text-wrap text-center py-3">{{n.name}}</div>
                    </div>
                </router-link>
            </div>
        </Carousel>
    </div>
</template>

<script>
    import Carousel from 'vue-owl-carousel';

    export default {
        name: "Featured",
        components: {Carousel},
        data() {
            return {
                carouselResponsive: {
                    0: {items: 1, nav: false},
                    768: {items: 3, nav: false},
                    1200: {items: 4, nav: false}
                },
                carouselDots: false,
                carouselButtons: false,
                carouselMargin: 20,
                carouselAutoPlay: true,
                featured: [],
                show_carousel: false,
                autoplayTimeout: 3000,
            }
        },
        methods: {
            getProperties() {
                const URL_FEATURED = '/api/featured';
                this.$http.get(URL_FEATURED)
                    .then(response => {
                        this.featured = response.data;
                        this.show_carousel = true;

                    })
                    .catch(error => {
                        console.error('error en los destacados');
                    })
            }
        },
        filters: {
            moneyFormat(val) {
                if (!val) return '';
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        },
        created() {
            this.getProperties();
        }
    }
</script>

<style lang="scss" scoped>
    a.links {
        color: #000;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
</style>
