<template>
    <div id="FeaturedIcons">
        <Carousel v-if="show_carousel" :margin="carouselMargin" :nav="carouselButtons" :dots="carouselDots"
                  :responsive="carouselResponsive" :autoplay="carouselAutoPlay">
            <div v-for="(n, index) in featured" :key="index" class="container-carousel text-wrap">
                <router-link :to="{name: 'property', params: {slug: n.slug, tradetype: n.trade_type_slug, propertytype: n.property_type_slug ,city: n.city_slug}}" class="links text-wrap">
                    <div class="div-container-img-featured position-relative">
                        <img class="m-0 image-featured"
                             :src=" n.images ?  n.images[0] : 'https://place-hold.it/280'" :alt="n.name">
                        <div class="position-absolute featured-name col-12 text-wrap text-center py-3">
                            {{`${n.location.suburb ? n.location.suburb : n.name }`}}
                        </div>
                        <span class="badge badge-price pl-2 py-2 pr-4 text-wrap">{{n.price | moneyFormat }} {{n.currency !== null ? n.currency.name : 'MXN'}}</span>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col col text-center d-flex justify-content-center m-0 p-0"
                                 v-if="parseInt(n.land_square_meters)">
                                <p>{{n.land_square_meters}}</p>
                                <inline-svg src="/public/img/svg/meters_red.svg" class="icon-list" alt="meters"/>
                            </div>
                            <div class="col col text-center d-flex justify-content-center m-0 p-0"
                                 v-if="parseInt(n.square_meters)">
                                <p>{{n.square_meters}}</p>
                                <inline-svg src="/public/img/svg/construction_red.svg" class="icon-list" alt="construction" />
                            </div>
                            <div class="col text-center d-flex justify-content-center m-0 p-0" v-if="parseInt(n.room)">
                                <p class="mx-1 my-0 p-0">{{n.room}}</p>
                                <inline-svg src="/public/img/svg/bed_red.svg" class="icon-list" alt="bed"/>
                            </div>
                            <div class="col text-center d-flex justify-content-center m-0 p-0" v-if="parseInt(n.bathroom)">
                                <p class="mx-1 my-0 p-0">{{n.bathroom}}</p>
                                <img src="/public/img/svg/toilet_red.svg" class="icon-list" alt="toilet"/>
                            </div>
                        </div>
                    </div>
                </router-link>
            </div>
        </Carousel>
    </div>
</template>

<script>
    import Carousel from 'vue-owl-carousel';

    export default {
        name: "FeaturedIcons",
        components: {Carousel},
        data() {
            return {
                carouselResponsive: {
                    0: {items: 1, nav: false},
                    768: {items: 3, nav: false},
                    1200: {items: 4, nav: false}
                },
                carouselDots: false,
                carouselButtons: false,
                carouselMargin: 20,
                carouselAutoPlay: true,
                featured: [],
                show_carousel: false,
            }
        },
        methods: {
            getProperties() {
                const URL_FEATURED = '/api/featured';
                this.$http.get(URL_FEATURED)
                    .then(response => {
                        this.featured = response.data;
                        this.show_carousel = true;

                    })
                    .catch(error => {
                        console.error('error en los destacados');
                    })
            }
        },
        filters: {
            moneyFormat(val) {
                if (!val) return '';
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        },
        created() {
            this.getProperties();
        }
    }
</script>

<style lang="scss" scoped>
    a.links {
        color: #000;
        text-decoration: none;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
</style>
