<template>
    <form @submit.prevent="sendContact">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <input type="text" name="name" id="name" v-validate="'required|alpha_spaces'"
                       v-model="contact.name"
                       class="form-control bg-white-contact border-0 mb-4"
                       :class="errors.has('name') ? 'is-invalid': ''"
                       :placeholder="$t('input_name')">
                <input type="email" name="email" id="email" v-validate="'required|email'"
                       v-model="contact.email"
                       class="form-control bg-white-contact border-0 my-4"
                       :class="errors.has('email') ? 'is-invalid' : ''"
                       :placeholder="$t('input_email')">
                <input type="tel" name="phone" id="phone" v-validate="'required|numeric|min:8'"
                       v-model="contact.phone"
                       class="form-control bg-white-contact border-0 my-4"
                       :class="errors.has('phone') ? 'is-invalid' : ''"
                       :placeholder="$t('input_phone')">
            </div>
            <div class="col-sm-12 col-md-6">
                <textarea name="comment" id="comment" v-model="contact.comment" :placeholder="$t('input_comment')"
                          cols="30" rows="6" class="form-control bg-white-contact border-0"
                          :class="{'': true, 'is-invalid': errors.has('comment')}"></textarea>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-sm-4 mt-md-0">
            <button type="submit" class="btn btn-red-gradient px-4 py-2">{{$t('button_send')}}</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "FormContact",
        data() {
            return {
                contact: {
                    name: '',
                    email: '',
                    phone: '',
                    comment: ''
                }
            }
        },
        sendContact() {
            this.$validator.validateAll().then(result => {
                if (result) {
                    const URL_CONTACT = `api/contacts`;
                    this.$http.post(URL_CONTACT, {
                        name: this.contact.name,
                        email: this.contact.email,
                        phone: this.contact.phone,
                        comment: this.contact.comment
                    }).then(response => {
                        this.$notify({
                            group: 'foo',
                            type: 'success',
                            title: this.$t('message_success'),
                            text: this.$t('message_success_contact_api')
                        });
                        this.contact.name = this.contact.email = this.contact.phone = this.contact.comment = '';
                    }).catch(error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'Error!',
                            text: this.$t('message_error_contact_api')
                        });
                    });
                } else {
                    this.$notify({
                        group: 'foo',
                        type: 'error',
                        title: 'Error!',
                        text: this.$t('message_error_contact_validate')
                    });
                }
            })
        }
    }
</script>
