<template>
        <div class="col-12 col-lg-auto mx-lg-auto text-center">
            <a class="link-letter text-capitalize" href="#" @click="redirect(city.name, $event)">{{city.name}}</a>
        </div>
</template>

<script>
    export default {
        name: "LinksHome",
        props: ['city'],
        methods: {
            redirect(city, event){
                event.preventDefault();
                this.$router.push({path: '/search'});
                this.$store.dispatch('updateSearch', {
                    place: city,
                    typeProperty: null,
                    typeTrade: null,
                    home: true
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .link-letter{
        color: #fff;
        font-size: 2rem;
        text-decoration: none;
        &:hover{
            color: #fff;
            text-decoration: underline;
        }
    }
</style>
