<template>
    <router-link :to="{
        name: 'property',
        params: {slug: property.slug, tradetype: property.trade_type_slug, propertytype: property.property_type_slug, city: property.city_slug}
    }"
    class="list-group-item list-group-item-action align-items-start">
        <div class="row">
            <div class="col-3 text-center">
                <img :src="property.images ? property.images[0] : 'https://place-hold.it/100&text=image'"
                     class="img-fluid rounded mx-auto d-block size-image-list" :alt="`imagen-${property.name}`">
            </div>
            <div class="col-8">
                <h5 class="mb-1 text-dark">
                    {{`${property.location?.suburb ? property.location.suburb + ' - ': '' }`}} {{ property.name }} - {{getTranslation(property.property_type.name)}}
                </h5>
                <h5 class="mb-1 text-red">{{property.price | moneyFormat}} {{property.currency !== null ? property.currency.name : 'MXN'}} - {{getTranslation(property.trade_type.name)}}</h5>
                <p class="mb-1">{{property.location.address}}</p>
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col text-center " v-if="parseInt(property.land_square_meters)">
                            <div class="col-12 d-flex justify-content-center">
                                <p class="m-0">{{property.land_square_meters}}</p>
                                <!-- <div v-html="require(`SVGPATH/meters_red.svg`)" class="icon-list"> -->
                                <img src="/public/img/svg/meters_red.svg" class="icon-list" alt="meters" />
                            </div>
                            <div class="col-12 text-center font-front-bottom" v-show="property.front || property.bottom">
                                {{property.front}} x {{property.bottom}}
                            </div>
                        </div>
                        <div class="col text-center d-flex justify-content-center m-0 p-0" v-if="parseInt(property.square_meters)">
                            <p>{{property.square_meters}}</p>
                            <img src="/public/img/svg/construction_red.svg" class="icon-list" alt="construction" />
                            <!-- <div v-html="require(`SVGPATH/construction_red.svg`)" class="icon-list"></div> -->
                        </div>
                        <div class="col text-center d-flex justify-content-center" v-if="parseInt(property.room)">
                            <p class="mx-1 my-0">{{property.room}}</p>
                            <!-- <div v-html="require(`SVGPATH/bed_red.svg`)" class="icon-list"></div> -->
                            <img src="/public/img/svg/bed_red.svg" class="icon-list" alt="bed" />
                        </div>
                        <div class="col text-center d-flex justify-content-center" v-if="parseInt(property.bathroom)">
                            <p class="mx-1 my-0">{{property.bathroom}}</p>
                            <img src="/public/img/svg/toilet_red.svg" class="icon-list" alt="toilet" />
                            <!-- <div v-html="require(`SVGPATH/toilet_red.svg`)" class="icon-list"></div> -->
                        </div>
                        <div class="col text-center d-flex justify-content-center" v-if="parseInt(property.floor)">
                            <p class="mx-1 my-0">{{property.floor}}</p>
                            <img src="/public/img/svg/layer_red.svg" class="icon-list" alt="layer" />
                            <!-- <div v-html="require(`SVGPATH/layer_red.svg`)" class="icon-list"></div> -->
                        </div>
                        <div class="col text-center d-flex justify-content-center" v-if="parseInt(property.car_spot)">
                            <p class="mx-1 my-0">{{property.car_spot}}</p>
                            <img src="/public/img/svg/parking_red.svg" class="icon-list" alt="parking" />
                            <!-- <div v-html="require(`SVGPATH/parking_red.svg`)" class="icon-list"></div> -->
                        </div>
                        <div class="col text-center d-flex justify-content-center" v-if="parseInt(property.terrace)">
                            <p class="mx-1 my-0">Si</p>
                            <img src="/public/img/svg/terrace_red.svg" class="icon-list" alt="terrace" />
                            <!-- <div v-html="require(`SVGPATH/terrace_red.svg`)" class="icon-list"></div> -->
                        </div>
                        <div class="col text-center d-flex justify-content-center"  v-if="parseInt(property.garden)">
                            <p class="mx-1 my-0">{{property.garden_square_meters}} m2</p>
                            <img src="/public/img/svg/plant_red.svg" class="icon-list" alt="plant" />
                            <!-- <div v-html="require(`SVGPATH/plant_red.svg`)" class="icon-list"></div> -->
                        </div>
                        <div class="col text-center d-flex justify-content-center" v-if="property.antique != null">
                            <p class="mx-1 my-0">{{property.antique}}</p>
                            <img src="/public/img/svg/antique_red.svg" class="icon-list" alt="antique" />
                            <!-- <div v-html="require(`SVGPATH/antique_red.svg`)" class="icon-list"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </router-link>
</template>

<script>
    export default {
        name: "ListItem",
        props: ['property'],
        filters: {
            moneyFormat(val) {
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            },
        },
        methods: {
            getTranslation: function (val) {
                return val[this.$i18n.locale];
            },
        }
    }
</script>

