<template>
    <div id="Map">
        <GmapMap
            :zoom="6"
            :center="center"
            class="container-fluid"
            style="width: 100%; height: calc(100vh - 7.625rem);"
        >
            <GmapMarker
                :key="index" v-for="(m, index) in markers"
                :position="m.position"
                @click="toggleInfoWindow(m,index)"
            />
            <gmap-info-window
                :options="infoOptions"
                :position="infoWindowPos"
                :opened="infoWinOpen"
                @closeclick="infoWinOpen=false"
            >
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{infoContent.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{infoContent.address}}</h6>
                        <p class="card-text">{{infoContent.price | moneyFormat }} {{infoContent.currency}}</p>
                        <router-link :to="{name: 'property', params: {slug: infoContent.slug, tradetype: infoContent.tradetype, propertytype: infoContent.propertytype ,city: infoContent.city}}" class="btn btn-danger btn-sm">
                            VER
                        </router-link>
                    </div>
                </div>
            </gmap-info-window>
        </GmapMap>
    </div>
</template>

<script>
    export default {
        name: "Map",
        props: ['markers'],
        data: function () {
            return {
                infoContent: '',
                infoWinOpen: false,
                infoWindowPos: {
                    lat: 0,
                    lng: 0
                },
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                center: {lat: 20.6888161, lng: -103.3870493}
            };
        },
        methods: {
            toggleInfoWindow: function (marker, idx) {
                this.infoWindowPos = marker.position;
                this.infoContent = marker;
                // console.log(marker)
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                } else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;
                }
            },
        },
        filters: {
            moneyFormat(val) {
                if (!val) return '';
                return new Intl.NumberFormat('es-MX', {
                    style: 'currency', currency: 'MXN'
                }).format(val);
            }
        }
    }
</script>
