<template>
    <div id="MapContact">
        <GmapMap :center="center" :zoom="5" class="container-fluid" style="height: 17.5rem" :options="options">
            <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.position"
                @click="center=m.position"
            ></GmapMarker>
        </GmapMap>
    </div>
</template>

<script>
    export default {
        name: "MapContact",
        data: function () {
            return {
                center: {lat: 19.4326009, lng: -99.1333416},
                markers: [
                    {
                        position: {
                            lat: 20.6888161,
                            lng: -103.3870493,
                        }
                    },
                    {
                        position: {
                            lat: 20.6044618,
                            lng: -105.2387197,
                        }
                    },
                    {
                        position: {
                            lat: 20.5884361,
                            lng: -100.3535957,
                        }
                    },
                    {
                        position: {
                            lat: 21.143036,
                            lng: -86.8302943,
                        }
                    }
                ],
                options: {mapTypeControl: false, streetViewControl: false}
            };
        }
    }
</script>

<style scoped>

</style>
