<template>
    <div id="MapProperty">
        <div v-if="markers.length > 0">
            <GmapMap
                :center="{...markers[0].position}"
                :zoom="14"
                :options=options
                class="container-fluid"
                style="height: 17rem"
            >
                <GmapMarker
                    :key="index" v-for="(m, index) in markers"
                    :position="m.position"
                    :clickable="true"
                    @click="toggleInfoWindow(m,index)"
                />
                <GmapInfoWindow :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen"
                                  @closeclick="infoWinOpen=false">
                    <div class="card" style="width: 15rem;">
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6">
                                        <a class="btn btn-danger btn-block"
                                           :href="`https://waze.com/ul?ll=${infoContent.lat},${infoContent.lng}&navigate=yes`" target="_blank"><i
                                            class="fab fa-waze"></i></a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-danger btn-block"
                                           :href="`http://www.google.com/maps/place/${infoContent.lat},${infoContent.lng}`" target="_blank"><i
                                            class="fas fa-location-arrow"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </GmapInfoWindow>
            </GmapMap>
        </div>
        <p v-else>{{$t('loading')}}</p>
    </div>
</template>

<script>
    export default {
        name: "MapProperty",
        props: {
            markers: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                infoContent: {},
                infoWinOpen: false,
                infoWindowPos: null,
                currentMidx: null,
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                options: {mapTypeControl: false}
            }
        },
        methods: {
            toggleInfoWindow: function (marker, idx) {
                this.infoWindowPos = marker.position;
                this.infoContent = marker.position;
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                } else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;
                }
            },
        },
        // async mounted() {
        //     await this.$gmapApiPromiseLazy();
        // },
    }
</script>

