<template>
  <a href="tel:3336297122" target="_blank" class="btn rounded mx-1"
    style="background-color: #9E0B0F; width: 28px; height: 28px; padding: 0.5px 0.5px; margin-top: 0.5px;">
    <img src="/public/img/contact/phone.svg" alt="Viterra teléfono" width="20" height="20" title="tel:3336297122" />
  </a>
</template>
