<template>
    <div id="Search" class="col-md-12">
        <form @submit.prevent="onSubmit" method="post">
            <div class="form-row d-flex justify-content-center">
                <div class="col-12 col-md-4 px-0 my-1 my-md-auto">
                    <input type="text" v-model="place" class="form-control rounded-search-first"
                           :placeholder=" $t('placeholder_search')">
                </div>
                <div class="col-12 col-md-3 px-0 my-1 my-md-auto">
                    <select name="property" id="property" class="custom-select rounded-search-middle"
                            v-model="propertyType">
                        <option value="null" disabled selected>{{$t('select')}}</option>
                        <option :value="property.id" v-for="(property, index) in properties" :key="index">
                            {{property.name}}
                        </option>
                    </select>
                </div>
                <div class="col-12 col-md-3 px-0 my-1 my-md-auto">
                    <select name="trade" id="trade" class="custom-select rounded-search-middle"
                            v-model="tradeType">
                        <option value="null" disabled selected>{{$t('select')}}</option>
                        <option :value="trade.id" v-for="(trade, index) in trades" :key="index">
                            {{trade.name}}
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-red-gradient px-sm-5 px-md-4 my-1 my-md-auto rounded-search-button">
                    <i class="fas fa-angle-right fa-lg"></i><i class="fas fa-angle-right fa-lg"></i><i
                    class="fas fa-angle-right fa-lg"></i>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: "Search",
        data: function () {
            return {
                properties: [],
                trades: [],
                place: null,
                tradeType: 0,
                propertyType: 0
            }
        },
        props:['searchProperties'],
        methods: {
            onSubmit() {
                if (this.$route.path !== '/search') {
                    this.$router.push({path: '/search'});
                    this.$store.dispatch('updateSearch', {
                        place: this.place,
                        typeProperty: this.propertyType,
                        typeTrade: this.tradeType,
                        home: 0
                    });
                } else {
                    this.$store.dispatch('updateSearch', {
                        place: this.place,
                        typeProperty: this.propertyType,
                        typeTrade: this.tradeType,
                        home: 0
                    });
                }
            },
            receiveAPI: function (lang) {
                const URL_PROPERTIES = '/api/property-types';
                const URL_TRADES = '/api/trade-types';
                this.$http.get(URL_PROPERTIES)
                    .then(response => {
                        let data = [];
                        response.data.forEach(e => {
                            data.push({id: e.id, name: e.name[lang]});
                        })
                        this.properties = data;
                    })
                    .catch(error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'Error!',
                            text: this.$t('message_error_property')
                        });
                    });

                this.$http.get(URL_TRADES)
                    .then(response => {
                        let data = [];
                        response.data.forEach(e => {
                            data.push({id: e.id, name: e.name[lang]});
                        })
                        this.trades = data;
                    })
                    .catch(error => {
                        this.$notify({
                            group: 'foo',
                            type: 'error',
                            title: 'Error!',
                            text: this.$t('message_error_trade')
                        });
                    });
            }
        },
        computed: mapState(['language', 'search']),
        watch: {
            language: {
                deep: true,
                immediate: true,
                handler(val) {
                    this.receiveAPI(val.language);
                }
            },
            search: {
                deep: true,
                immediate: true,
                handler(val){
                    setTimeout(() => {
                        this.propertyType =  val.search.typeProperty;
                        this.tradeType = val.search.typeTrade;
                        this.place = val.search.place;
                    }, 0)
                }
            }
        },
    }
</script>

