<template>
    <footer id="footer" class="py-5 bg-dark">
        <div class="container">
            <div class="row d-md-flex flex-md-nowrap">
                <div class="col-md-4 order-md-2">
                    <ul class="nav flex-column">
                        <li class="nav-item text-center text-md-left">
                            <router-link class="link-size link_footer" to="/about-us">{{$t('link_about_us')}}
                            </router-link>
                        </li>
                        <li class="nav-item text-center text-md-left">
                            <router-link class="link-size link_footer" to="/developments">
                                {{$t('link_developments')}}
                            </router-link>
                        </li>
                        <li class="nav-item text-center text-md-left">
                            <router-link class="link-size link_footer" to="/our-team">
                                {{$t('link_our_team')}}
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 order-md-1">
                    <h3 class="text-center text-md-left">
                        <router-link class="text-danger link_footer" to="/contact">{{$t('contact')}}</router-link>
                    </h3>
                    <div class="text-center text-md-left">
                        <p>Av. Terranova #1455 <br> Lomas de Providencia <br> Guadalajara, Jalisco</p>
                    </div>
                    <div class="text-center text-md-left">
                        <p class="my-0">{{$t('phone_gdl')}}</p>
                        <a href="tel: 3336297122">(33) 3629-7122</a>
                    </div>
                    <a href="mailto:contacto@viterrainmobiliaria.com" class="text-center"><p
                        class="text-center text-md-left">contacto@viterrainmobiliaria.com</p></a>
                </div>
                <div class="col-md-4 order-md-3">
                    <!-- <div class="col-md-12 d-flex justify-content-center justify-content-md-end">
                        <form action="">
                            <div class="form-row">
                                <div class="col-10 px-0">
                                    <input type="email" class="form-control rounded-only-left"
                                           :placeholder="$t('input_email')">
                                </div>
                                <div class="col-2 px-0">
                                    <button class="btn btn-red px-3 rounded-only-right" type="submit"><i
                                        class="fas fa-angle-right fa-lg"></i></button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <div class="col-md-12 d-flex justify-content-center justify-content-md-end">
                        <a href="" role="button" data-toggle="modal" data-target="#privacyModal">{{$t('privacy_notice')}}</a>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center justify-content-md-end">
                        <a href="http://crm.viterrainmobiliaria.com" rel="noreferrer noopener" target="_blank">{{$t('join_crm')}}</a>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center justify-content-md-end">
                        <a href="https://www.viterrainmobiliaria.com:2096/" rel="noreferrer noopener" target="_blank">Mail</a>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center justify-content-md-end my-3">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://instagram.com/viterrainmobiliaria?igshid=s1s553k29pj" target="_blank"
                                   rel="noopener noreferrer"
                                   class="btn btn-light px-3 py-2 rounded-circle text-dark"><i
                                    class="fab fa-instagram fa-1x"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/ViterraGrupoInmobiliario/" target="_blank"
                                   rel="noopener noreferrer"
                                   class="btn btn-light px-3 py-2 rounded-circle text-dark"><i
                                    class="fab fa-facebook-f fa-1x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-dark">
                        <h5 class="modal-title text-capitalize" id="privacyModalTitle">Aviso de privacidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-dark">
                        COMERCIALIZADORA VIDA Y TIERRA, S.A. DE C.V. También conocida como VITERRA, le recuerda que de
                        conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares
                        que nuestro aviso de privacidad, mismo que contiene toda la información respecto a la obtención
                        y tratamiento de sus datos personales y sensibles, así como el procedimiento para ejercer sus
                        derechos ARCO, puede ser consultado en cualquier momento en nuestra página de internet
                        <a href="http://www.viterrainmobiliaria.com" class="text-dark">www.viterrainmobiliaria.com</a>
                    </div>
                </div>
            </div>
        </div>
        <ContactFlotanteBtns />
    </footer>
</template>

<script>
    import ContactFlotanteBtns from '@/components/ContactFlotanteBtns.vue';
    export default {
        name: "Footer",
        components: {
            ContactFlotanteBtns
        },
    }
</script>

<style lang="scss" scoped>
    a.link-size {
        font-size: 1.575rem;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
