<template>
    <header id="Header" class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <h1>
                    <router-link class="navbar-brand mr-auto" to="/">
                        <!-- <div v-html="require(`SVGPATH/logo.svg`)" class="logo"></div> -->
                        <img src="/public/img/svg/logo.svg" class="logo" alt="viterra inmobiliaria" />
    
                    </router-link>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <div class="order-lg-1 col-12 col-lg-2 d-flex justify-content-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb language d-flex">
                                <li class="breadcrumb-item" v-for="(lang, index) in languages" :key="index">
                                    <a href="#" @click="changeLanguage(lang)">{{lang.title}}</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-12 col-lg-10 order-lg-0">
                        <search></search>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</template>

<script>
    import Search from "@/components/Search.vue";

    export default {
        name: "Header",
        components: {Search},
        data() {
            return {
                languages: [
                    {
                        title: this.$t('languages.spanish'),
                        value: 'es'
                    },
                    {
                        title: this.$t('languages.english'),
                        value: 'en'
                    }
                ]
            }
        },
        methods: {
            changeLanguage(lang) {
                this.$i18n.locale = lang.value;
                this.$store.dispatch('language/setLanguage', lang.value);
            }
        }
    }
</script>

<style scoped>

</style>
