<template>
    <header id="HeaderWithOutSearch" class="bg-dark sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <h1>
                    <router-link class="navbar-brand mr-auto" to="/">
                        <!-- <div v-html="require(`SVGPATH/logo.svg`)" class="logo"></div> -->
                        <img src="/public/img/svg/logo.svg" class="ilogo" alt="viterra inmobiliaria" />
                    </router-link>
                </h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Ciudades
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <LinksHome v-for="(city, index) in cities" :key="index" :city="city"></LinksHome>
                            </div>
                        </li>
                        <li class="col-lg-auto mx-lg-auto">
                            <router-link class="link-size link_footer" to="/developments">
                                {{$t('link_developments')}}
                            </router-link>
                        </li>
                    </ul>
                    <div class="d-flex languaje-nav col-lg-auto">
                        <div class="breadcrumb-item language-item" v-for="(lang, index) in languages" :key="index">
                            <a href="#" @click="changeLanguage(lang)">{{lang.title}}</a>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </header>
</template>

<script>
    import LinksHome from '@/components/LinksHome.vue';

    export default {
        name: "HeaderWithOutSearch",
        components: {LinksHome},
        data() {
            return {
                languages: [
                    {
                        title: this.$t('languages.spanish'),
                        value: 'es'
                    },
                    {
                        title: this.$t('languages.english'),
                        value: 'en'
                    }
                ],
                cities: [],

            }
        },
        methods: {
            changeLanguage(lang) {
                this.$i18n.locale = lang.value;
                this.$store.dispatch('language/setLanguage', lang.value);
            },
            getCities() {
                const URL_CITIES = `/api/cities`;
                this.$http.get(URL_CITIES)
                    .then((response) => {
                        this.cities = response.data;
                    })
                    .catch((error) => {
                        console.error(error);
                    });
            }
        },
        mounted() {
            this.getCities();
        }
    }
</script>

<style scoped>

</style>
